/* SLICK SLIDER */
.product-row{
    margin: 3rem auto !important;
}
.product-row .a:hover{
    text-decoration: none;
}
.product-card{
    margin-right: 1rem !important;
    max-width: 200px !important;
}
.product-card img{
    height: 150px !important;
    overflow: hidden;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.product-card:hover{
    background:linear-gradient(180deg, lavender, rgb(255, 237, 203)) !important;
    transition:background 0.6s ease-in-out;
}
.recent-products a, .products a, .similar-products a{
    text-decoration: none;
    color:var(--font-dark);
}

.product-card-price{
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
}